.events-container {
	background-color: black;
	color: white;
 	font-family: "Questrial", arial, sans-serif;
}

.events-container > .grid {
	display: grid;
	height: 78vh;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 3fr 3fr;
	padding: 5%;
	padding-top: 7%;
	grid-row-gap: 2%;
}

.events-container > .grid > .header {
	grid-column: 1/6;
	display: flex;
	align-items: center;
	justify-content: space-evenly
}


.events-container > .grid > .header > .selected {
	background: #2193b0;
	background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
	background: linear-gradient(to right, #6dd5ed, #2193b0);
	font-family: "Questrial", arial, sans-serif;
	font-weight: bold;
	font-size: 2.5em;
	border-radius: 10px;
	padding: 2%;
	top:50%;
	display: inline-block;
	line-height: 50%;
	cursor: pointer;
}

.events-container > .grid > .header > .not-selected {
	color: #a1a4a8;
	font-size: 1.2em;
	background-color: #4c4c4c;
	border-radius: 10px;
	font-family: "Questrial", arial, sans-serif;
	display: inline-block;
	padding: 2%;
	line-height: 50%;
	cursor: pointer;
}

.events-container > .grid > .event {
	position: relative;
	text-align: center;
}

.events-container > .grid > .event > img {
    margin:auto;
	display: block;
	border-radius: 5px;
	height: 100%;
	width: 75%;
	position: absolute;
	border: 2px solid white;
	left: 0;
	right: 0;
}

.events-container > .grid > .event > .event-overlay{
	width: 75%;
	height: 100%;
	position: absolute;
	left: 12%;
	top: 1%;
	background-color: rgba(179, 230, 255, 0.2);
}

.events-container > .grid > .event > .event-overlay > .content {
}

.events-container > .grid > .event > .event-overlay > .content > p.name {
	margin-top: 40%;
	font-size: 1.5em;
	font-weight: bold;
}

.events-container > .grid > .event > .event-overlay > .content > p.date {
	font-weight: bold;
}